/* All Configs */
::-webkit-scrollbar{
    background-color: #006eff;
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background-color: #004aaa;
    border: 1px solid #003c8a;
}


.containerMain {
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}

.limit-width{
    max-width: 1280px;
    width:100%;
    overflow: hidden;
}

/* Banner */
.banner-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 700px; 
    width:100%;
    
    background-image:url('/bannermain.webp');
    background-position: center;
    background-size: cover;

    color:#fff;
    font-size: 72px;
    font-weight: 600;
    line-height: 90px;
    position: relative;
}

.banner-container:after{
    background-color: #00000070;
    height: 100%;
    width: 100%;
    position: absolute;
    content: '';
}

.banner-container h1, .banner-container a{
    max-width: 1280px;
}

.icon-down{
    position: absolute;
    bottom:20px;
    transition: all 1s;
    animation: downIcon infinite alternate 0.4s;
}

@keyframes downIcon {
    from {
        bottom:20px;
    } to {
        bottom:10px;
    }
}

/* About Us */

.aboutus-container{
    display: flex;
    padding: 10rem 0 5rem 0;
    gap: 40px;
}

.aboutus-container>div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* How Works */

.how-works-container{
    padding: 5rem 0;
}

.how-works-container span{
    font-size: 72px;
    font-weight: 900;
    color: black;
    text-shadow: 
    0 0 1px #006eff, 
    0 0 2px #006eff,
    0 0 3px #006eff, 
    0 0 4px #006eff, 
    0 0 5px #006eff;
}

.how-works-container .worksbox-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    text-align: center;
}

.how-works-container h2{
    margin-bottom: 1rem;
    text-align: center;
}

.worksbox-container .works-box{
    border: 1px solid #fff;
    padding: 1.5rem;
    border-radius: 6px;
    transition: 0.7s opacity;
    position: relative;
    overflow: hidden;
}

.works-box::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 200px;
    height: 200px;
    background: rgba(0, 110, 255);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    filter: blur(50px);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.worksbox-container .works-box:hover::before{
    opacity: 50%;
}

.worksbox-container .works-box h3{
    line-height: 40px;
    margin-bottom: 10px;   
}

/* Testemonials */

.testemonials-container{
    padding: 5rem 0;
}

.testemonials-container>h2{
    margin-bottom: 1rem;
    text-align: center;
}

.testemonials-columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.testemonials-columns article{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 35px 30px;
    border: 1px solid #006eff;
}

.testemonials-columns article>h2{
    line-height: 3rem;
    margin: 10px 0;
}

/* Why Choose */
.why-container{
    padding: 35px 30px;
    text-align: center;
}

.why-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 40px;
    border: 1px solid #006eff;
    margin: 15px 0;
    padding: 30px;
}

.why-box>div{
    width: 50%;
}

.why-box:nth-child(odd){
    flex-direction: row-reverse;
}

/* Contact */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: none;
    box-shadow: 0px 0px 50px #006eff;
    max-width: 800px;
    width: 100%;
    margin: 80px 0;
    padding: 60px;
    border-radius: 30px; 
    position: relative;
    transition: ease-in-out 30s;
    overflow: hidden;
}

.contact-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/bannermain.webp');
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    border-radius: 30px;
}

.contact-container:hover::after {
    opacity: 0.1;
}

.contact-container form, .contact-container form div {
    display: flex;
    flex-direction: column;
    width: 100%; 
}

.contact-container form {
    margin-top: 20px;
}

.contact-container form label{
    text-align: left;
    margin-bottom: 5px;
    color: #ffffffa0;
}
.contact-container form input{
    height: 45px;
    padding: 15px;
    color: #000;
    outline: none;
    border-radius: 10px;
    background-color: #ffffffd0;
    margin-bottom: 16px;
}

.contact-container .button_contact{
    background-color: #006eff;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 20px;
    padding: 10px;
    transition: all 0.6s;
}

.contact-container .button_contact:hover{
    background-color: #006effd0;
    box-shadow: 0px 0px 20px #000;
}

footer{
    padding: 15px 0;
}

.content{
    z-index: 2;
}

/* Exchange */

.container_exchange{
    display: flex;
    gap: 60px;
    max-width: 1280px;
    width: 100%;
    padding: 20px;
    overflow-x: hidden;
    border-bottom: 1px #006eff solid;
}

.box_exchange{
    display: flex;
    gap: 12px;
    align-items: center;
    min-width: 130px;
    position: relative;
    justify-content: center;
}

.box_exchange::after{
    height: 100%;
    width: 2px;
    background-color: #006eff;
    content: '';
    position: absolute;
    right: -30px;
}

/*Techno Banner*/

.techno_banner{
    width: 100%;
    height: 95vh;
    margin-bottom: 10px;   

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner_mac{
    height: 540px;
    width: 850px;
    padding: 20px 140px;
    background-image: url('../../public/mac.webp');
    background-size: auto;
    position: relative;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: transform 0.1s ease;
    cursor: pointer;
}

.chart_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.tabs_charts{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.tabs_charts button{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    font-size: 17px;
    font-weight: 600;
}

.tabs_charts button:hover{
    filter: brightness(80%);
}

.banner_video{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 0.2;
}


/* Header */
.logo{
    padding: 10px 0;
    margin-bottom: 50px;
    z-index: 10;
}
